/* CustomCalendar.css */

.react-calendar {
  width: 100% !important;
  max-width: 100%;
  background: white;
  border: 1px solid #d9d9d9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  border-radius: 6px;
  padding: 8px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  color: #1890ff;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 6px 12px;
  cursor: pointer;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #595959;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
}

.react-calendar__tile {
  max-width: 100%;
  background: none;
  text-align: center;
  padding: 10px 6px;
  transition: 0.3s;
  border-radius: 6px;
  cursor: pointer;
}

.react-calendar__tile:enabled:hover {
  background-color: #e6f7ff;
}

.react-calendar__tile--now {
  background: #bae7ff;
  color: #000;
  font-weight: bold;
}

.react-calendar__tile--active {
  background: #1890ff !important;
  color: white !important;
}

.react-calendar__tile--range {
  background: #91d5ff;
  color: black;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background: #1890ff;
  color: white;
}
